.LoginPage{
    background-image: url('/src/shared/assets/img/loginbg.svg');
    background-size: cover;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}