.dark{
    --bg-color: #36393F;
    --inverted-bg-color: #fff;
    --primary-color: #fff;
    --secondary-color: #B9BBBE;
    --accent-color: #5865F2;
    --inverted-primary-color: #2ADF7F;
    --inverted-secondary-color: #0486ff;
    
    --input-background : #202225;
    --link-color : #00AFF4;
}