.dark{
    --bg-color: #36393F;
    --inverted-bg-color: #fff;
    --primary-color: #fff;
    --secondary-color: #B9BBBE;
    --accent-color: #5865F2;
    --inverted-primary-color: #2ADF7F;
    --inverted-secondary-color: #0486ff;
    
    --input-background : #202225;
    --link-color : #00AFF4;
    --separator-color: #35363c;

    //servers-navbar
    --servers-navbar-color: #1e1f22;
    --channels-navbar-color: #2b2d31;
    --profile-section-color: #232428;
    --no-server-icon-bg: #313338;
    --seen-index-color: #fff;
    --tooltip-bg: #111214;
    --tooltip-color: #dbdee1;
    --dm-icon-color: #dbdee1;
}