.normal{
    --bg-color: #F6FEFA;
    --inverted-bg-color: #010905;
    --primary-color: #2ADF7F;
    --secondary-color: #7EE4EC;
    --accent-color: #5865F2;
    --inverted-primary-color: #20D574;
    --inverted-secondary-color: #137981;

    --input-background : #202225;
    --link-color : #00AFF4;
    --separator-color: #ccced3;
    --navbars-inner-color : #5c5e66;
    --navbars-inner-color-hover : #060607;
    --shadow-color: #ccced3;

    // servers-navbar
    --servers-navbar-color: #e3e5e8;
    --channels-navbar-color: #f2f3f5;
    --profile-section-color: #ebedef;
    --no-server-icon-bg: #fff;
    --seen-index-color: #060607;
    --tooltip-bg: #fff;
    --tooltip-color: #35373c;
    --dm-icon-color: #313338;

    // profile-section
    --profile-section-hover: #d2d4d8;

    //search-input
    --search-input-bg: #e3e5e8;
}