.SettingsPage{
    display: flex;
    flex: 1 0 auto;

    .left{
        display: flex;
        justify-content: end;
        background-color: var(--channels-navbar-color);
        height: 100dvh;
        min-width: 250px;
        width: 650px;
    }

    .exit{
        position: absolute;
        right: 300px;
        top: 100px;
    }

}