.AppLink{
    color : var(--primary-color);
    font: var(--font-l);
    text-decoration: none;
    font-weight: 300;
}

.primary{
    color : var(--primary-color);
}

.secondary{
    color : var(--inverted-primary-color);
}

.blue{
    color : var(--link-color);
}